@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8 Meda Ct<br />
    Gosnells, WA, 6110<br />
    <abbr title="Phone">P:</abbr>
    08 9490 8278<br />
    <abbr title="Mobile">M:</abbr>
    0424 637 076
</address>

<address>
    <strong>Email us:</strong>   <a href="mailto:normadbrown551@live.com">normadbrown551@live.com</a>
</address>