@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Norma Brown Photography</h1>
    <p class="lead">This is Norma Brown's Photography Website</p>
</div>
<h3>Slider of some photos here</h3>
<div class="acol-md-4">
    <p>
        Come to Norma Brown Photography to capture those most important fragments of time, that you never want to part with.
    </p>
</div>
