@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Norma Brown Photography</h1>
    <p class="lead">This is Norma Brown's Photography Website</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="acol-md-4">
    <p>
        Norma Brown is an experienced and talented photogrpaher, specialising in macro-nature photography.
    </p>
    <p>
        Norma also has a wealth of experience, and wonderful familial intuition for charming portraiture.
    </p>
</div>
